Package: dataone-cn-solr
Version: 1.2.0
Section: utils
Priority: optional
Architecture: all
Depends: dataone-cn-os-core, dataone-cn-metacat, sun-java6-jdk, solr-common (= 3.4.0~blubolt2~lucid1), solr-tomcat (>= 3.4.0~blubolt2~lucid1), dataone-cn-version-tool
Installed-Size: 1 kb
Maintainer: Skye Roseboom <sroseboo@dataone.unm.edu>
Description: This is a metapackage that installs solr-3.4 along with tomcat/solr integration.  Two solr cores are generated as a result of this package - d1-cn-index, d1-cn-log.
